.form-item-picture-type .form-type-radio { width: 300px; min-height:240px; float: left; padding: 20px 20px 20px 0; display: block;}
.form-item-picture-type .form-type-radio img { border: 1px solid #E0E0D8; padding: 2px; }
.form-item-picture-type .description { clear: both; }